@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik:wght@600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: "Montserrat",  sans-serif!important;
    /* font-family: "Open Sans",  sans-serif; */

}
html{
    scroll-behavior: smooth;
}
.nav-bg-color.scrolled{
    /* background: #257A3D; */
    box-shadow: 0px 2px 20px 0px #333;
}
a{
    text-decoration: none!important;
}
a:hover{
    color: currentColor!important;
}
.rounded-10{
    border-radius: 10px!important;
}
.nowrap{
    white-space: nowrap;
}
.mt-7{
    margin-top: 7rem!important;
}
.btn-pill{
    border-radius: 20px!important;
    
}
.smallText{
    font-size: .8em;
    color: hsl(0, 0%, 60%);
    font-weight: 600;
}
.smallText-md{
    font-size: 1em;
    color: hsl(0, 0%, 45%);
    font-weight: 600;
}
.fs-1-5{
    font-size: 1.5rem;
}
.fs-2{
    font-size: 2em;
}
.fs-4{
    font-size: 4em;
}
.fw-bold{
    font-weight: bold;
}
.fw-600{
    font-weight: 600;
}
.rounded-10{
    border-radius: 10px;
}
.p-6{
    padding: 5rem;
}
.p-7{
    padding: 6rem;

}
/* ====================================================== */
#navbarNavAltMarkup{
    margin: 0 0 0 20em;

}
.Signin_btns{
    margin: 0 0 0 15em;
}
@media screen and (max-width: 768px) {
    .Signin_btns{
        margin: 0;
    }
}
.Sign_up{
    border: 1px solid #F53838!important;
    color: #F53838!important;
}
.Get_str_btn{
    padding: 1rem 4rem;
    color: #fff;
    font-weight: 600;
    background: #F53838;
    border: none;
    border-radius: 10px;
    box-shadow:  0 0 20px #F53838;
    transition: .5s;
}
.Get_str_btn:hover{
    background: #0B132A;
    box-shadow:  0 0 20px #0B132A;

}

@media  screen and (max-width: 768px) {
    .Get_str_btn{
        padding: .5em 2em;
    }
}
h1{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}
.Icon{

    background: hsl(0, 100%, 94%);
    color: #fff;
    padding: .7rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}
.isim span{
    font-family: 'Rubik', sans-serif;
}
ul li{
    list-style: none;
}
ul li {
    margin-top: 1rem!important;
}
.fa-check-circle{
    color: #54E346;
    margin-right: 1em;
}
.fa-check{
    color: limegreen;
}
.SelectBtn{
    border: 1px solid #f53838;
    color: #f53838;
    padding: .5rem 2rem!important;
    cursor: pointer;
    transition: .5s;
}
.SelectBtn:hover{
    color: #fff!important;
    background: #f53838;

}
.pre-card{
    border: 2px solid #f53838!important;
}
.cardHeader{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fa-star{
    color: #fbe109;
}
.card{
    height: 100%;
    padding: 1em .5em 1rem .5em;
}

.card_Div{
    min-height: 270px!important;
    height: 280px!important;
}
.clampText{
    font-size: clamp(1.5rem, 2.5vw, 4rem); 
}
.owl-prev,
.owl-next{
    padding: .5em .7em!important;
    border-radius: 100%!important;
    color: #fff!important;
}
.owl-next{
    background: #F53838!important;
}
.owl-prev{
    border: 1px solid #F53838!important;
    color: #F53838!important;

}
.Subs_Div{
    box-shadow: 0px 0px 10px hsl(0, 0%, 80%);
    padding: 3em 2em!important;
    /* margin: auto 10rem auto 10rem!important; */
    width: 60%!important;
    position: absolute;
    top: -30%;
    left: 20%;

}
.Contact_Icon{
    padding: .5rem .8rem;
    color: #f53838;
    background: #fff;
    box-shadow: 0 0 5px hsl(0, 0%, 80%);
    border-radius: 100%;
}
.Contact_Icon + .Contact_Icon{
    margin: 0 0 0 .7em;
}
.bg-gray{
    background: hsl(0, 0%, 90%);
    position: relative;
    margin-top: 10rem;
}
.containerMe{
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
.subscribe{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    position: relative;
    top: 120px;
    background-color: #fff;
    box-shadow: 0 20px 60px rgb(0 0 0 / 9%);
    flex-direction: row;
    padding: 5rem 4rem;
}
@media  screen and (max-width: 768px) {
    .subscribe{
        padding: 2em 1em;
    }
}

footer{
    background-color: #ddd9d956;
    padding-top: 12rem;
    padding-bottom: 3.125rem;
}
#navbarNavAltMarkup{
    margin: 0!important;
}
.subscribe_Text{
    font-size: clamp(.7rem, 2.5vw, 1rem); 
}
.subs_banner{
    font-size: 1.5em;
}
