@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik:wght@600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: "Montserrat",  sans-serif;
    /* font-family: "Open Sans",  sans-serif; */

}
html{
    scroll-behavior: smooth;
}
.nav-bg-color.scrolled{
    /* background: #257A3D; */
    box-shadow: 0px 2px 20px 0px #333;
}
.rounded-10{
    border-radius: 10px!important;
}
.nowrap{
    white-space: nowrap;
}
.mt-7{
    margin-top: 7rem!important;
}
.btn-pill{
    padding: .3rem 2rem!important;
    border-radius: 20px!important;
    
}
.smallText{
    font-size: .8em;
    color: hsl(0, 0%, 60%);
    font-weight: 600;
}
.smallText-md{
    font-size: 1em;
    color: hsl(0, 0%, 45%);
    font-weight: 600;
}
.fs-1-5{
    font-size: 1.5rem;
}
.fs-2{
    font-size: 2em;
}
.fs-4{
    font-size: 4em;
}
.fw-600{
    font-weight: 600;
}
.rounded-10{
    border-radius: 10px;
}
/* ====================================================== */
#navbarNavAltMarkup{
    margin: 0 0 0 20em;

}
.Signin_btns{
    margin: 0 0 0 15em;
}
.Sign_up{
    border: 1px solid #F53838!important;
    color: #F53838!important;
}
.Get_str_btn{
    padding: 1rem 4rem;
    color: #fff;
    font-weight: 600;
    background: #F53838;
    border: none;
    border-radius: 10px;
    box-shadow:  0 0 20px #F53838;
    transition: .5s;
}
.Get_str_btn:hover{
    background: #0B132A;
    box-shadow:  0 0 20px #0B132A;

}
h1{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}
.Icon{

    background: hsl(0, 100%, 94%);
    color: #fff;
    padding: .7rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}
.isim span{
    font-family: 'Rubik', sans-serif;
}
ul li{
    list-style: none;
}
ul li {
    margin-top: 1rem!important;
}
ul li::before{
    content: url(/img/check-lg.svg);
    position: relative;
    top: 5px;
    background: lime;
    color: #fff;
    padding: .5rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}
